.sidebar {
    min-width: 100px;
    max-width: 300px;
    width: 30vw;
    padding: 20px;
    height: 100vh;
    overflow: auto;
    background-color: var(--primaryColor);
}

.sidebar ul{
    list-style-type: none;
    padding: 0px 0px;
}

.sidebar ul li{
    padding: 10px 0px;
    border-bottom: 1px solid white;
    transition: padding .35s ease-in-out;
}

.sidebar ul li:hover{
    padding: 10px 20px;
    transition: padding .35s ease-in-out;
}

.sidebar ul li a{
    color:white !important;
    text-decoration: none;
}

.active-link::before{
    content: '>>';
}