<div class="topStart_sideStart w70vw h100vh scrollAuto pt50">
    <div>
        <div class="pageTitle">
            <p>
                Your Dashboard
            </p>
        </div>
        <div class="content">
            <div class="card">
                <div class="card-header">Recent Activity</div>
                <div class="card-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ullamcorper libero eu erat consequat,
                        in facilisis purus bibendum. Cras eget efficitur nisi.</p>
                    <p>Sed feugiat purus a justo rhoncus, nec interdum dolor eleifend. Aliquam viverra velit non sem
                        tristique, eget fringilla neque tincidunt.</p>
                </div>
            </div>
    
            <div class="card">
                <div class="card-header">Statistics</div>
                <div class="card-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ullamcorper libero eu erat consequat,
                        in facilisis purus bibendum. Cras eget efficitur nisi.</p>
                    <p>Sed feugiat purus a justo rhoncus, nec interdum dolor eleifend. Aliquam viverra velit non sem
                        tristique, eget fringilla neque tincidunt.</p>
                </div>
            </div>
    
            <div class="card">
                <div class="card-header">Notifications</div>
                <div class="card-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ullamcorper libero eu erat consequat,
                        in facilisis purus bibendum. Cras eget efficitur nisi.</p>
                    <p>Sed feugiat purus a justo rhoncus, nec interdum dolor eleifend. Aliquam viverra velit non sem
                        tristique, eget fringilla neque tincidunt.</p>
                </div>
            </div>
        </div>
    </div>
</div>